@page
@model AristosTest.Web.Pages.Reservations.ReservationAddModel
@{
    ViewData["Title"] = "Agregar Reservacion";
}

@if (!string.IsNullOrEmpty(Model.Message))
{
    <label class="alert alert-warning badge">@Model.Message</label>
}

<form method="post">
    <div class="row">
        <div class="form-control mb-1 col-sm-4">
            <label class="form-label">Aeropuerto de Origen</label>
            <select class="form-select" asp-for="Reservation.Origin.Id" asp-items="Model.AirPortSelect" required>
                <option value="">Seleccione...</option>
            </select>
        </div>
        <div class="form-control mb-1 col-sm-4">
            <label class="form-label">Horario de Salida</label>
            <input class="form-control" asp-for="Reservation.DepartureTime" required />
        </div>
        <div class="form-control mb-1 col-sm-4">
            <label class="form-label">Aeropuerto de Llegada</label>
            <select class="form-select" asp-for="Reservation.Destination.Id" asp-items="Model.AirPortSelect" required>
                <option value="">Seleccione...</option>
            </select>
        </div>
        <div class="form-control mb-1 col-sm-4">
            <label class="form-label">Horario de Llegada</label>
            <input class="form-control" asp-for="Reservation.ArrivalTime" required />
        </div>
        <div class="form-control mb-1 col-sm-4">
            <label class="form-label">Aerolínea</label>
            <select class="form-select" asp-for="Reservation.AirLine.Id" asp-items="Model.AirLineSelect" required>
                <option value="">Seleccione...</option>
            </select>
        </div>
        <div class="form-control mb-1 col-sm-4">
            <label class="form-label">Número de vuelo</label>
            <input class="form-control" asp-for="Reservation.FlyNumber" required />
        </div>
        <div class="form-control mb-1 col-sm-4">
            <label class="form-label">Precio tipo de pasajero</label>
            <select class="form-select" asp-for="Reservation.PassengerType.Id" asp-items="Model.PassengerTypeSelect" required>
                <option value="">Seleccione...</option>
            </select>
        </div>
    </div>
    
    <button class="btn btn-primary" type="submit">Crear Reserva</button>
</form>